/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f0f1f6;
  color: #34313d;
}

/* NAV */
.nav {
  max-width: 1100px;
  margin: auto;
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links a {
  color: #9e9aa7;
  text-decoration: none;
}

.nav-auth {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}
.nav-auth a {
  color: #9e9aa7;
  text-decoration: none;
  font-weight: 700;
}

.nav-auth a:hover {
  color: #34313d;
}


.nav-auth button {
  background: #2acfcf;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
}

/* HERO */
.hero {
  max-width: 1100px;
  margin: auto;
  padding: 3rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  color: #9e9aa7;
  margin: 1rem 0;
}

.hero button {
  background: #2acfcf;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 25px;
  border: none;
}

/* SHORTEN */
.shorten-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.shorten-form {
  background: #3b3054 url("./images/bg-shorten-desktop.svg") no-repeat right;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
}

.shorten-form input {
  flex: 1;
  padding: 0.75rem;
  border-radius: 5px;
  border: none;
}

.error-message {
  display: none;
  color: #f46262;
  font-size: 0.8rem;
}

/* LINKS */
.links-container {
  max-width: 1100px;
  margin: 1.5rem auto;
  padding: 0 1.5rem;
}

.link-item {
  background: white;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* STATS */
.stats {
  text-align: center;
  padding: 5rem 1.5rem;
}

.stats-cards {
  max-width: 1100px;
  margin: 4rem auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 5px;
  text-align: left;
}

/* BOOST */
.boost {
  background: #3b3054 url("./images/bg-boost-desktop.svg") no-repeat center;
  color: white;
  text-align: center;
  padding: 4rem 1.5rem;
}

/* FOOTER */
.footer {
  background: #232127;
  color: white;
  padding: 4rem 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
